body {
	background-color: #D6DBDF;
}

.main-content {
	margin-top: 2rem;
}


.kanban-group {
	background-color: #FFFFFF;
	border: 1px dashed #000000;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	border-radius: 10px;
}

.kanban-category { }

.kanban-category_todo {
	border-right: 1px dotted #7F7F7F;
}

.kanban-category_done {
	border-left: 1px dotted #7F7F7F;
}
.kanban-item {
	/*border: 1px solid #CCCCCC;*/
	margin-bottom: .5rem;
}

.kanban-item_description {
	color: #000000;
	font-weight: bold;
}

.kanban-item_center {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.kanban-item_label {
	margin-top: .25rem;
	background-color: #CCCCCC;
}

.kanban-item_move {
	background-color: #E5E7E9;
	color: #000000;
}

.kanban-item_move:hover {
	background-color: #CCCCCC;
}

.kanban-item_move__link:hover {
	text-decoration: none;
}

.kanban-item_moveup {
	border-bottom: solid 1px #CCCC;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.kanban-item_movedown {
	border-top: solid 1px #CCCC;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


.kanban-item_moveright {
	padding-right: 0;
}

.kanban-item_moveleft {
	padding-left: 0;
}

a.kanban-item_movebtn:hover {
	color: #000000;
	text-decoration: none;
	background-color: #16A085;
}

.kanban-item_movebtn {
	height: 100%;
	background-color: #A3E4D7;
	width: 1.3rem;
	text-align: center;
	color: #000000;
	font-weight: bold;
	vertical-align: center;
}

.kanban-item_movebtn__right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.kanban-item_movebtn__left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.label-manager-list {
	padding-top: 2rem;
	background-color: #FFFFFF;
	border: 1px dashed #000000;
	border-radius: 10px;
	min-height: 40rem;
}

.label-manager-list_item {
	background-color: #FFFFFF;
	border: 1px dotted #000000;
	border-radius: 10px;
	margin: .5rem;
}

.label-manager-list_color {
	border-radius: 5px;
	display: inline-block;
	width: 6rem;
	height: 90%;
	margin: 0 auto;
}

.rollover-form {
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: .5rem;
}